#multiple{
    background-image: linear-gradient(#437fc7,#6daffe);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px;
    position: absolute;
    left: 0;
    width: 100%;
    margin-top:40px;
    text-align: center;    
}

#multiple h1{
    color: white;
}
#multiple h4{
    color: #edf6ff;
    cursor: pointer;
}
#multiple h4:active{
    color: #a5a5a5;
}