#multiple{
    background-image: linear-gradient(#437fc7,#6daffe);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px;
    position: absolute;
    left: 0;
    width: 100%;
    margin-top:40px;
    text-align: center;    
}

#multiple h1{
    color: white;
}
#multiple h4{
    color: #edf6ff;
    cursor: pointer;
}
#multiple h4:active{
    color: #a5a5a5;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }